html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: 'Roboto', sans-serif;
  background-color: #9ba8b5;
}

h1 {
  margin: 0;
  padding: 20px 0; /*top and bottom padding of 20px, left and right padding of 0px*/
  color: #f7f76c;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: #6a3b83;
  padding: 0 20px 20px 20px; 
  /*Apparently, padding is top right bottom left; think of the diamond starting from the top going to the right*/
  border: 5px solid rgb(41, 2, 67);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}